/* global */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: "Open Sans", sans-serif;
    color: #000000;
}
a, a:hover, a:focus {
	color: #e5001a;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	line-height: 1.4;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* loading screen */
#loading-content {
  position: absolute;
  background: #FF0000;
  opacity: 0.9;
  z-index: 100;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  color: #FFFFFF;
}

/* animated loading indicator with checkmark */
.btn-loading-container {
  margin-left: 10px;
  font-size: 1.2em;
}
.btn-done-indicator {
  color: green;
}
.btn-err {
  margin-top: 10px;
  color: red;
}

/* sidebar */
.well { 
    background-color: #FFFFFF; 
}
.toggle-choices {
	background-color: #dee5e9;
	color: #FF0000;
	display: block;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.toggle-choices:before {
	font-family: "Fontawesome";
	content: "\f06e";
	margin-right: 8px;
}
.toggle-choices:hover {
	background-color: #FF0000;
	color: #fff;
}
.irs-from, .irs-to, .irs-single {
	background: #f40000;
}
.irs-bar {
	border-top: 1px solid #f40000;
	border-bottom: 1px solid #f40000;
	background: #f40000;
}


/* navbar */
.navbar {
    margin-bottom: 10px;
}
.dm-logo { 
    margin-right: 20px; 
    margin-top: -8px; 
    max-width: 170px;
    max-height: 40px;
    width: 170px;
    height: 40px;
}
nav .container:first-child {
    margin-left:104px; 
    width: 95%;
}
.navbar-inverse {
	background-color: #f40000;
	border-color: #f40000;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #000000;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #000000;
}
/* navbar > tabs */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #fff;
	background-color: #e5001a;
	border: 1px solid #e5001a;
}
/* navbar > "Last Updated" */
.navbar-text {
    float: right;
    color: #F2FF00;
    font-style: italic;
}
/* navbar > Animated underline */
.navbar .navbar-nav>li>a:after {
	content: "";
	display: block;
	margin: auto;
	margin-top: 1px;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.navbar .navbar-nav>li>a:hover:after {
	width: 100%;
	background: #FFF;
}
.navbar .navbar-nav>.active>a:hover:after {
	width: 0;
	background: transparent;
}
/* download Button */
.btndwn { 
    margin-bottom: 10px;
    background-color: #000000;
    color: #FFFFFF;
}
.btndwn:hover { 
    background-color: #FFFFFF;
    color: #000000;
}

/* table */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background-color: #f0f3f5;
}
table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
	border-left: 0px solid #ddd;
}
table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
 border-top: 0px solid #ddd;
 border-right: 0px solid #ddd;
}
thead {
	background-color: #f40000!important;
	color: #fff;
	text-transform: uppercase;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
	background-color: none;
}
/* table > buttons */
.btn-default {
	color: #FF0000;
	background-color: #dee5e9;
	border-color: #dee5e9;
}
.btn-default:hover {
	color: #ffffff;
	background-color: #FF0000;
	border-color: #FF0000;
}
.btn {
	text-transform: uppercase;
	font-weight: 700;
}
button.dt-button, div.dt-button, a.dt-button {
	text-transform: uppercase;
	font-weight: 700;
	border: 1px solid #dee5e9;
	color: #FF0000;
	background-color: #dee5e9;
	background-image: -none!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
	border: 1px solid #FF0000;
	background-color: #FF0000;
	color: #fff;
	background-image: none!important;
}
.buttons-copy:before {
	content: "\f0c5";
	font-family: "FontAwesome";
	margin-right: 8px;
}
.buttons-csv:before, .buttons-csv:excel, .buttons-pdf:before {
 font-family: "FontAwesome";
 content: "\f016";
 margin-right: 8px;
}
.buttons-print:before {
	content: "\f02f";
	font-family: "FontAwesome";
	margin-right: 8px;
}

/* map legend */
/* .info {
/*    font: 12px "Open Sans";
/*}

/* pivot table */
.pvtRows {
    background-color: #000000;
}
.pvtCols {
    background-color: #000000;
}
